<!DOCTYPE html>
<html lang="en">
<head>
<title>Inscription</title>
</head>
<body>
  <form>
    <fieldset>
    <legend>Inscription</legend>
    <p>
        ID: <input type = "text" name = "id" />
        </p>
     <p>
         nom: <input type = "text" name = "nom" />
  </p>
   <p>
         prenom: <input type = "text" name = "prenom" />
  </p>
 
   <p>
         <input type = "radio" name = "genre" value = "Male"> Male
         <input type = "radio" name = "genre" value = "Female"> Female
</p>
<p>
    cin: <input type = "text" name = "cin" />
</p>
<p>
    cne: <input type = "text" name = "cne" />
</p>
<label for="email">email:</label>
<input type="email" id="email" name="email">
<br><br>
<label for="birthday">date de naissance:</label>
<input type="date" id="birthday" name="date_naissance">

<p>
    lieu de naissance: <input type = "text" name = "lieu_naissance" />
</p>
 
Phone Number: <input type = "text" name = "phone" />
</p>
 
<label for="Niveau">Niveau:</label>

<select name="Niveau" id="niveau">
  <option value="Technicien Spécialisé">Technicien Spécialisé</option>
  <option value="Technicien">Technicien</option>
</select>
<br><br>
<label for="filiere">filiere:</label>

<select name="filiere" id="filiere">
  <option value="Développement Digital option Applications Mobiles">Développement Digital option Applications Mobiles</option>
  <option value="Développement Digital option Web Full Stack">Développement Digital option Web Full Stack</option>
</select>
<br><br>
<label for="groupe">groupe:</label>

<select name="groupe" id="groupe">
  <option value="dev201">dev201</option>
  <option value="dev202">dev202</option>
</select>
<br><br>
 
 <p>
      <input type = "submit" name = "submit" value = "Submit" />
    </p>
</fieldset>
</form>
</body>
</html>