form {
    max-width: 640px;
    padding: 2rem;
    margin: 0 auto;
}

.nav li > a {
    max-width: fit-content;
    margin-bottom: 5px;
}

.grid-center {
    justify-items: center;
}

.grid-center select {
    margin: 0.5em 0;
}
.IdClose {
    background-color: transparent;
    width:50px;
    position: absolute;
    margin-left: 16.6rem;
    margin-top: -1.5rem;
    border: none;
}
.IdDisplay {
    background-color: transparent;
    border: none;
}
#MinBar{
    display: none;
}