form {
    max-width: 640px;
    padding: 2rem;
    margin: 0 auto;
}

.nav li > a {
    max-width: fit-content;
    margin-bottom: 5px;
}

.grid-center {
    justify-items: center;
}

.grid-center select {
    margin: 0.5em 0;
}
